*:focus {
    outline: none;
}

body {
    background-color: white;
    /* border-radius: 100%; */
    animation-name: bodyChange;
    animation-duration: 6s;
    animation-fill-mode: both;
    animation-iteration-count: infinite;
    background-size: 100%;
}

body, button {
    text-shadow: 2px 2px 8px #000000;
    
}

header {
    color: white;
    text-align: center;
    font-family: 'Cinzel Decorative', sans-serif;
    margin-bottom: 4%;
    font-size: 2em;
}


button {
    border: 3px solid red;
    font-size: 3em;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 8px;
    margin-top: auto;
    background-color: green;
    color: #ffffff;
    transition: background-color 0.5s ease,
                border-color 0.5s ease;
    
   
}

button:hover {
    cursor: pointer;
    background-color: red;
    border: 3px solid green; 
}

#clock span {
    float: left;
    text-align: center;
    margin: 0 2.5%;
    padding: 20px;
    width: 20%;
    box-sizing: border-box;
    color: white;
    font-size: 50px;
    border-radius: 8px;
    text-shadow: 1px 1px black;
    
}

#counter span {
    animation-name: colorChange;
    animation-duration: 2s;
    animation-fill-mode: both;
    animation-iteration-count: infinite;
    border: 3px solid white;
    
}

#counter span, button {
    box-shadow: 4px 4px 15px grey;
}

#counter span:nth-child(odd) {
    animation-name: bwColorChange;
    animation-duration: 2s;
    animation-fill-mode: both;
    animation-iteration-count: infinite;
} 


 @keyframes colorChange {
    0%, 100% {
        background-color: green;
        border-color: red;
    }
    50% {
        background-color: red;
        border-color: green;
    }
} 

@keyframes bwColorChange {
  0%, 100% {
        background-color: red;
        border-color: green;
  }
  50% {
    background-color: green;
    border-color: red;
  }
} 

.fullscreen-bg {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: hidden;
    z-index: -100;
    
}

h4 {
    color: white;
    text-align: center;
    font-family: 'Cinzel Decorative', sans-serif;
    font-size: 2em;
    padding-top: 0.5rem;
    
}

#play-button {
    margin-bottom: 1.5rem;
}


